# SPDX-FileCopyrightText: 2024 TOP Team 8 GitCraft
#
# SPDX-License-Identifier: CC0-1.0

spigot/.gradle/
spigot/.idea/
spigot/.vscode/
spigot/bin/
spigot/build/
spigot/.idea/
spigot/server/
spigot/target/
spigot/bin/

